<p>
            Código Urbano (Tienda de Ropa Deportiva), Belgrano Nro. 885 - Formosa<br>
            abril 2015 - Presente<br>
            Cargo: Propietario<br>
            Adquirí cualidades como: trabajo en equipo, administración,<br>
            servicio especializado en atención al cliente, comunicación,<br>
            capacidad organizativa, pensamiento crítico, creatividad,<br>
            adaptabilidad, liderazgo, resolución de problemas, iniciativa,<br>
            gestioné multiples proyectos, implementación de marketing<br>
            publicitario a través de redes sociales.<br>
</p>