<div class="row">
        
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
    
        <p>Gracias a profesores y tutores durante mi aprendizaje, adquiri conocimientos en el desarrollo de front-end, HTML, CSS, JS, la creación de aplicaciones web pequeñas y medianas, complementos personalizados, funciones, animaciones y codificación de diseños interactivos, back-end, base de datos y trabajar en equipo con la herramienta potente como GitHub.
        También tengo conocimientos en programación de lenguajes C, C++, Visual Basic, Java.
        Para mas detalles sobre mi capacitación descargue mi CV o Contacteme. </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <app-skills></app-skills>
    </div>
</div>
