<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
                <img src="../../../assets/img/logoYoProgramo.png" id="logoAp" alt="Imagen de Argentina programa, enlace a la pagina" >
            </a>
        </div>
        <div class="redes">
            <a href="https://www.Instagram.com/polirrubros_codigo_urbano2020">
                <img src= "../../../assets/img/logoInstagram.png" id="icon-instagram" alt="icono Instagram link ">
            </a>
            <a href="https://mobile.twitter.com/germedi83">
                    <img src= "../../../assets/img/logotwitter.png"id="icon-twitter" alt="icono Twitter link">
            </a>
            <a href="https://wwww.facebook.com/gerardomedinav" >
                    <img src= "../../../assets/img/logoFacebook.png" id="icon-facebook" alt="icono facebook link" >
            </a>
            <a href="https://github.com/Gerardomedinav">
                <span class="logogithub">
            <img src= "../../../assets/img/logoGitHub.png" id="icon-github" alt="icono github link">
            </span>
            </a>
            <button class="btn btn-primary" type="button"  checked="checked" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Login
                  </button>
        </div>
    </div>
</div>

<!-- Modal login-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text"  class="form-control-plaintext" id="staticEmail" value="email@example.com">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
                <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword">
                </div>
            </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-outline-light">Iniciar Seccion</button>
        </div>
    </div>
    </div>
</div> 



