#logoAp{
    width: 150px;
    height: auto;
    margin: 2vh;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    
}
img{
    width: 40px;
    margin: 15px;
}

div#redes {
    background-color: #131516 !important;
    display: flex;
    justify-content: space-between;
    
    
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.btn-primary {
    
    --darkreader-bg--bs-btn-bg: transparent;
    --darkreader-border--bs-btn-border-color: #eaedf1;
    --darkreader-bg--bs-btn-hover-bg: aqua; 
    --darkreader-border--bs-btn-hover-border-color: #eaedf1;
    margin-right: 0.5rem;
}
div.redes img:hover {
    background-color: aqua;
    border-radius: 100%;
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0,0,o,0.2);
}  
div.logo img:hover{
    background-color: aqua;
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0,0,o,0.2);

}

@media (max-width: 575px) {
    .container{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes img{
        margin: 0.2em;
    }
}