<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
        <div class="carousel-item active"title="HTML 5 85%">
          <circle-progress
                class="d-block w-100" 
                [percent]="85"
                [radius]="40"
                [imageSrc]="'../../../assets/img/html.png'"
                [backgroundColor]="'#484848'"
                [showImage]="true"
                [imageHeight]="50"
                [imageWidth]="50"
                [showUnits]="false"
                [showSubtitle]="false"
                [titleFontSize]="'0.5em'"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [lazy]="false"
          ></circle-progress>
          
        </div>
    <div class="carousel-item" title="CSS 80%">
      <circle-progress
            class="d-block w-100" 
            [percent]="80"
            [radius]="40"
            [imageSrc]="'../../../assets/img/CSS.png'"
            [backgroundColor]="'#484848'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [titleFontSize]="'0.5em'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [lazy]="false"
      ></circle-progress>
    </div>
          <div class="carousel-item" title="JAVASCRIPT 75%">
            <circle-progress
                  class="d-block w-100" 
                  [percent]="75"
                  [radius]="40"
                  [imageSrc]="'../../../assets/img/js.png'"
                  [backgroundColor]="'#484848'"
                  [showImage]="true"
                  [imageHeight]="50"
                  [imageWidth]="50"
                  [showUnits]="false"
                  [showSubtitle]="false"
                  [titleFontSize]="'0.5em'"
                  [outerStrokeWidth]="8"
                  [innerStrokeWidth]="2"
                  [outerStrokeColor]="'#78C000'"
                  [innerStrokeColor]="'#C7E596'"
                  [animation]="true"
                  [animationDuration]="300"
                  [lazy]="false"
              ></circle-progress>
    </div>
   
    <div class="carousel-item"title="C++ 70%">
      <circle-progress
            class="d-block w-100" 
            [percent]="70"
            [radius]="40"
            [imageSrc]="'../../../assets/img/kisspng-c-programming-language-computer-programming-arra-c-green-icon-5a70de2da99d76.9651255515173463496948.png'"
            [backgroundColor]="'#484848'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [titleFontSize]="'0.5em'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [lazy]="false"
        ></circle-progress>
  </div>
  <div class="carousel-item"title="Bootstrap 95%">
        <circle-progress
          class="d-block w-100" 
          [percent]="95"
          [radius]="40"
          [imageSrc]="'../../../assets/img/bootstrap.png'"
          [backgroundColor]="'#484848'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
          [showUnits]="false"
          [showSubtitle]="false"
          [titleFontSize]="'0.5em'"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
          [lazy]="false"
      ></circle-progress>
  </div>
  <div class="carousel-item"title="JSON 90%">
    <circle-progress
          class="d-block w-100" 
          [percent]="90"
          [radius]="40"
          [imageSrc]="'../../../assets/img/kisspng-json-serialization-node-js-postgresql-data-type-parsing-5b248fccac9c05.896478081529122764707.png'"
          [backgroundColor]="'#484848'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
          [showUnits]="false"
          [showSubtitle]="false"
          [titleFontSize]="'0.5em'"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
          [lazy]="false"
      ></circle-progress>
    </div>
    <div class="carousel-item" title="PhPMysql  75%">
          <circle-progress
            class="d-block w-100" 
            [percent]="75"
            [radius]="40"
            [imageSrc]="'../../../assets/img/kisspng-logo-mysql-database-phpmyadmin-mysql-digital-agency-maidenhead-web-agency-uk-5b6475c37dee49.2368989315333104035158.png'"
            [backgroundColor]="'#484848'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [titleFontSize]="'0.5em'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [lazy]="false"
        ></circle-progress>
    </div>
    <div class="carousel-item"title="Netbeans Apache  65%">
      <circle-progress
            class="d-block w-100" 
            [percent]="65"
            [radius]="40"
            [imageSrc]="'../../../assets/img/kisspng-netbeans-apache-software-foundation-apache-http-se-5ae7be3426ed29.5578253615251369481595.png'"
            [backgroundColor]="'#484848'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [titleFontSize]="'0.5em'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [lazy]="false"
        ></circle-progress>
    </div>
    <div class="carousel-item"title="Visual Studio Code  80%">
      <circle-progress
            class="d-block w-100" 
            [percent]="80"
            [radius]="40"
            [imageSrc]="'../../../assets/img/kisspng-visual-studio-code-microsoft-visual-studio-source-notice-5ab888a4b34712.2893155915220430447343.png'"
            [backgroundColor]="'#484848'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [titleFontSize]="'0.5em'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [lazy]="false"
        ></circle-progress>
    </div>
    <div class="carousel-item"title="Trabajo Grupal 100%">
      <circle-progress
            class="d-block w-100" 
            [percent]="100"
            [radius]="40"
            [imageSrc]="'../../../assets/img/grupal.png'"
            [backgroundColor]="'#484848'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [titleFontSize]="'0.5em'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [lazy]="false"
        ></circle-progress>
    </div>
    <div class="carousel-item"title="Git Hub 75%">
      <circle-progress
            class="d-block w-100" 
            [percent]="75"
            [radius]="40"
            [imageSrc]="'../../../assets/img/git.png'"
            [backgroundColor]="'#484848'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [titleFontSize]="'0.5em'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [lazy]="false"
        ></circle-progress>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>




