<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <p>
            Bachillerato Técnico como Auxiliar Contable, Colegio Secundario<br>
            Doc. Ignacio A. Pane<br>
            Asunción - Paraguay<br>
            febrero 1997 - diciembre 2003<br>
        </p>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <p>
          Universidad Católica Ntra. Sra. de la Asunción (LIC. EN ANALISIS<br>
          DE SISTEMAS INFORMATICOS - (SIN CONCLUIR))<br>
          Asunción - Paraguay<br>
          febrero 2004 - 2006<br>
          Conceptos sólidos de programación, metodología de<br>
          implementación de buena programación, Lenguajes de<br>
          Programación: C, C++, Visual Basic<br>
        </p>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <p>
            Técnico Superior en Análisis y Diseño de Software, Universidad<br>
            Nacional Autónoma de Formosa<br>
            Argentina<br>
            mayo 2022 - Presente<br>
            Cursando Actualmente<br>
        </p>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <p>
            Desarrollador Web Full Stack, Ministerio de Desarrollo Pruductivo<br>
            Argentina<br>
            febrero 2022 - Presente<br>
            -Front End: Estructura y estilos: HTML, CSS y framework como<br>
            Bootstrap, Lenguaje programación: TypeScrypt y el framework<br>
            como Angular ambos basados en Javascript<br>
            -Back End: Base de datos: Lenguaje: Java con Framework Spring<br>
            Boot, Web server: Apache Tomcat<br>
            -Git Hub <br>
        </p>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>




