<div class="container">
            <div class="card" style="width: 15rem;" title="Idioma Español" >
                <img src="../../../assets/img/Idioma-español-1068x756.png"  alt="...">
                <div class="card-body">
                  <p class="card-text">Idioma Español<br>
                                      Hablo<br>
                                      Entiendo<br>
                                      Leo<br>
                                      Escribo
                  </p>
                </div>
            </div>
        
            <div class="card" style="width: 15rem;" title="Idioma Guarani">
                <img src="../../../assets/img/guarani.png"  alt="...">
                <div class="card-body">
                  <p class="card-text">Idioma Guarani<br>
                                      Hablo<br>
                                      Entiendo<br>
                                      Leo<br>
                                      Escribo
                  </p>
                </div>
            </div>
          
            <div class="card" style="width: 15rem;" title="idioma Ingles">
                <img src="../../../assets/img/ingles.png"  alt="...">
                <div class="card-body">
                  <p class="card-text">Idioma Inlges<br>
                                      Entiendo<br>
                                      Leo<br>
                                      Escribo
                  </p>
                </div>
            </div>
</div>
